body {
  margin: 0;
  width: 100%;
  text-align: center;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/concrete_seamless.png");
}

#controls {
  display: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  width: 100%;
  top: 0;
  background: #285728;
}

h1 {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 32px;
  font-weight: 400;
}

/* -----------------responsive grid------------------- */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

@media only screen and (max-width: 950px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/* ------------end responsive grid----------------------- */

fieldset {
  border: none;
  padding: 0;
  max-width:1500px;
  margin-left: auto;
  margin-right: auto;
}

#search-group {
  display: none;
}

select, input{
  font-size: 16px;
}

label {
  font-size: 1.3rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display:block;
  padding-bottom: .2rem;
}

#filter-count{
  display: block;
}

#search-toggle {
  margin-top:.5rem;
  font-size: 16px;
}

#filter-toggle {
  margin-bottom:.5rem;
  font-size: 16px;
}

#slide-toggle {
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background: #114511;
  background: -moz-radial-gradient(center, ellipse cover, #114511 0%, #114511 60%, #114511 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #114511), color-stop(60%, #114511), color-stop(100%, #000000));
  background: -webkit-radial-gradient(center, ellipse cover, #114511 0%, #114511 60%, #000000 100%);
  background: -o-radial-gradient(center, ellipse cover, #114511 0%, #114511 60%, #000000 100%);
  background: -ms-radial-gradient(center, ellipse cover, #114511 0%, #114511 60%, #000000 100%);
  background: radial-gradient(ellipse at center, #114511 0%, #114511 60%, #000000 100%);
  background-size: 5px 5px;
  z-index: 1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.closed {
  position: fixed;
  top: 0;
  right: 0;
}

.open {
  position: static;
  width: 100%;
}

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
  width: 300px;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.controls-closed {
  padding-top: 3rem;
}

.controls-open {
  padding-top: 1rem;
}

#results {
  max-width:1500px;
  margin-left:auto;
  margin-right:auto;
}

li {
  display: inline-block;
}

p {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 20px;
  text-align: left;
}
.more-content {
  padding-top:1rem;
}
.more-content p{
  font-size: 1rem;
}

.card {
  padding: 1rem;
  border: 1px solid #D3D3D3;
  margin: .5rem;
  width: 300px;
  -webkit-box-shadow: 7px 14px 24px -8px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 7px 14px 24px -8px rgba(0, 0, 0, 0.21);
  box-shadow: 7px 14px 24px -8px rgba(0, 0, 0, 0.21);
  background: white;
}
.expand{
  padding:.2rem;
  border: 2px solid #708f70;
  cursor: pointer;
  width:40%;
  margin-left:auto;
  margin-right:auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  background-color: #e5e5e5;
}

.card .more-content{
  display:none;
}